body {
    font-family: sans-serif;
    text-align: center;
  }

  body h1{

    color: blue;
  }
  
  #carroImagem {
    width: 200px; /* Ajuste o tamanho conforme necessário */
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
  }

  button {
    color: blue;
  }

  #esportivoImg{
    width:200px ;
   
  }